{% extends 'master.html' %}

{% load static %}

{% block page-title %}Youtube Sentiment Analysis{% endblock %}

{% block page-styles %}{% endblock %}


{% block page-content %}

    <p style="font-size: 40px; text-align: center; margin-top: 6%;"><b>COMMENTS FETCHING</b></p>

    <div class="m2">
  <div class="p1">
    <b style="padding: 3%; font-family: 'Your Desired Font', sans-serif; font-size: 24px;">INSERT URL</b>
    <div id="myform", style="padding: 1%; margin: 5px">
      <form method="post" class="narrow-w form-search d-flex align-items-stretch mb-3" data-aos="fade-up"
            data-aos-delay="100", style="padding: 10/
              %>
        {% csrf_token %}
        {% for field in yt_form %}
        <div class="form-group mb-20">
          <div class="input-group">
            {{ field }}
          </div>
          {% if field.errors %}
          {% for error in field.errors %}
          <div class="col-md-11 alert-danger m-2" style="font-max-size: large">{{ error }}</div>
          {% endfor %}
          {% endif %}
        </div>
        {% endfor %}

      </form>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </div>

  <div class="p2">
    <a href="{% url 'cfetch' %}"><img src="{% static 'images/sentiment-analysis-for-youtube-comments.heic' %}"
                                      alt="logo" width="98%"></a>
  </div>
</div>

    <br>

  <div class="table">
    <table style="width:80%; border-collapse: collapse; margin: 20px auto; border: 1px solid #ccc;">
        <tr>
            <th style="padding: 10px; border: 1px solid #ccc;">No.</th>
            <th style="padding: 10px; border: 1px solid #ccc;">Video ID</th>
            <th style="padding: 10px; border: 1px solid #ccc;">Comments</th>
            <th style="padding: 10px; border: 1px solid #ccc;">Sentiment Options</th>
        </tr>
        {% for video in videos %}
            <tr>
                <td style="padding: 10px; border: 1px solid #ccc;">{{ forloop.counter }}</td>
                <td style="padding: 10px; border: 1px solid #ccc;"><a href="{{ video.video_url }}", style="color: black;">{{ video.id }}</a></td>
                <td style="padding: 10px; border: 1px solid #ccc;">{{ video.comment_video.count }}</td>
                <td style="padding: 20px; border: 1px solid #ccc; margin: 5%">
                        <a href="/eng-comments/{{ video.id }}/" type="button" class="btn">
                            English
                        </a>

                        <a href="/emoji-comments/{{ video.id }}/" type="button" class="btn">
                            Emoji
                        </a>
                    </td>
            </tr>
        {% endfor %}
    </table>
</div>

    {##}
    {##}
    {#<p style="font-size: 25px; margin-left: 25px;"><b>Comments data in csv file</b> </p>#}
    {#<form class="form-contain">#}
    {#    <label for="w3review"></label>#}
    {#    <textarea id="w3review" name="w3review" rows="20" cols="160"></textarea>#}
    {#</form>#}

    <!-- Table for top 5 comments -->
    {#{% if top_comments %}#}
    {#<div class="table">#}
    {#    <table border="4px" cellpadding="30px" cellspacing="5px">#}
    {#        <thead>#}
    {#            <tr>#}
    {#                <th>Comment ID</th>#}
    {#                <th>Comment</th>#}
    {#            </tr>#}
    {#        </thead>#}
    {#        <tbody>#}
    {#            {% for comments in top_comments %}#}
    {#            <tr>#}
    {#                <td>{{ forloop.counter }}</td>#}
    {#                <td>{{ comments }}</td>#}
    {#            </tr>#}
    {#            {% endfor %}#}
    {#        </tbody>#}
    {#    </table>#}
    {#</div>#}
    {#{% endif %}#}
    {##}
    {#<div class="my-btn" style="text-align: center;">#}
    {#  <p style="font-size: 18px; color: #333; font-weight: bold;">Want the full dataset?</p>#}
    {#  <p style="font-size: 16px; color: #777; margin-bottom: 10px;">Click the button below to save all the comments.</p>#}
    {#  <form action="{% url 'save_csv' %}" method="POST">#}
    {#    {% csrf_token %}#}
    {#    <button type="submit" class="btn" style="margin-left: 25px; padding: 10px 15px; font-size: 18px; color: white; border: none; border-radius: 4px; cursor: pointer;">Save Comments</button>#}
    {#  </form>#}
    {#</div>#}
    {##}
    {#    <div class="my-btn" style="text-align: center;">#}
    {#  <p style="font-size: 18px; color: #333; font-weight: bold;">Want to clean comments?</p>#}
    {#  <p style="font-size: 16px; color: #777; margin-bottom: 10px;">Click the button below to clean the comments.</p>#}
    {#  <form action="{% url 'clean_comments' %}" method="POST">#}
    {#    {% csrf_token %}#}
    {#    <button type="submit" class="btn" style="margin-left: 25px; padding: 10px 15px; font-size: 18px; color: white; background-color: #f44336; border: none; border-radius: 4px; cursor: pointer;">Clean Comments</button>#}
    {#  </form>#}
    {##}
    {#  {% if message %}#}
    {#    <p style="font-size: 16px; color: #333; margin-top: 10px;">{{ message }}</p>#}
    {#  {% endif %}#}
    {#</div>#}


    <p style="font-size: 25px; text-align: center; padding: 30px;"><b>Do you want to analyze sentiment or to detect
        spam?</b></p>

    <div class="my-btnn">
        <div style="text-align: center;">
            <a href="{% url 'a-visualize' %}">
                <button type="submit" class="btn">Analyzer</button>
            </a>
            <a href="{% url 'sdetection' %}">
                <button type="submit" class="btn">Detector</button>
            </a>
        </div>
    </div>

    <br><br>

{% endblock %}

{% block page-scripts %}{% endblock %}
