{% extends 'master.html' %}
{% load static %}
{% block page-title %}Youtube Sentiment Analysis{% endblock %}
{% block page-styles %}{% endblock %}
{% block page-content %}
<div id="mainn"  >
    <div>
        <div style="text-align: center;">
            <br>
            <h1 style="font-size: 40px; color:lemonchiffon; font-family:sans-serif "><b>Youtube Sentiment Analysis</b></h1><br>
            <p style="font-size: 25px; text-align:center; color:white; "> The process of analyzing and understanding the
                sentiment or emotions expressed by users in the comments, likes, dislikes, and other interactions on
                YouTube videos.The main objective of YouTube sentiment analysis is to determine whether the sentiment
                expressed by users is positive, negative, or neutral towards a particular video or topic.
            </p><br>
            <button class="explore_btn"><a href="{% url 'cfetch' %}">Get Started Now </a></button>
        </div>
    </div>
    <br>
    <div>
        <div style="text-align: center;">
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
                 src="{% static 'images/youtube-users-960x502.webp' %}">
        </div>
    </div>
    </div>
    <div style="text-align: center;"><p style="font-size: 60px; margin-top:10%; font-family:'bigshot-one',serif;"><b>Categorize</b></p></div>
    <div class="m1">
        <div class="p1">
            <div style="text-align: center;">
                <b> Comments Fetching</b>
            </div>
            <p style="padding: 25px;">YouTube comment fetching is the process of retrieving comments from YouTube videos. This can be done using the YouTube Data API, which provides a programmatic way to access YouTube data. To fetch comments, you need to create a project in the Google Developers Console and enable the YouTube Data API. Once you have enabled the API, you can use the API Explorer to generate code that will fetch comments from a YouTube video.
                The YouTube Data API allows you to fetch comments in a variety of ways. You can fetch all comments for a video, or you can fetch comments that meet certain criteria, such as comments that were posted within a certain time period or comments that have a certain number of likes.</p>
        </div>
        <div class="p2">
            <a href="{% url 'cfetch' %}"><img
                    src= "{% static 'images/sentiment-analysis-for-youtube-comments.heic' %}" alt="logo" style="width: 98%; height: 300px;"></a>
        </div>
    </div>
    <div class="m1">
        <div class="p2">
            <a href="{% url 'sanalysis' %}"> <img
                    src="{% static 'images/sentiment_analysis.jpg' %}" alt="logo"
                    style="width: 98%; height: 320px;"></a>
        </div>
        <div class="p1">
            <div style="text-align: center;">
                <b> Sentiment Analysis</b>
            </div>
            <p style="padding: 25px;">YouTube sentiment analysis is the process of extracting the sentiment, or opinion, of users from their comments on YouTube videos. This can be done using a variety of techniques, such as natural language processing (NLP) and machine learning. Sentiment analysis can be used for a variety of purposes, such as: Understanding user sentiment, Identifying trends and to Get feedback. Sentiment analysis is a powerful tool that can be used to understand user sentiment, identify trends, and get feedback. If you are interested in using sentiment analysis for your YouTube videos, I recommend that you check out the resources above.</p>
        </div>
    </div>
    <div class="m1">
        <div class="p1">
            <div style="text-align: center;">
                <b> Spam Detection</b>
            </div>
            <p style="padding: 25px;">YouTube spam detection is the process of identifying and removing spam comments from YouTube videos. Spam comments are typically irrelevant, off-topic, or promotional in nature. They can also be harmful, such as containing phishing links or malware. There are a variety of techniques that can be used to detect spam comments, including: Content analysis, User behavior analysis and Machine learning. YouTube uses a combination of these techniques to detect spam comments. Once a spam comment is detected, it is removed from the video and the user who posted the comment may be blocked from commenting on YouTube. YouTube spam detection is an ongoing challenge. Spammers are constantly developing new techniques to evade detection. However, by using a variety of techniques.</p>
        </div>
        <div class="p2">
            <a href="{% url 'sdetection' %}"> <img
                    src="{% static 'images/youtube-analytics-63db7f2648c60-sej-760x400.webp' %}" alt="logo"
                    style="width: 97%; height: 290px;"></a>
        </div>
    </div>
 {% endblock %}
{% block page-scripts %}{% endblock %}