{% extends 'master.html' %}

{% load static %}

{% block page-title %}Youtube Sentiment Analysis{% endblock %}

{% block page-styles %}{% endblock %}


{% block page-content %}
{#    <style>#}
{#    input[type="text"] {#}
{#        background-color: lightgrey;#}
{#    }#}
{#</style>#}
<div class="m2">
    <div class="p1">
        <h1 style="font-size: 40px; padding: 25px; align-items: center;"><b>Sentiment Analysis</b></h1>
        <p style="font-size: 130%; text-align: justify; padding: 25px; ">
            The YouTube sentiment analyzer is a machine learning model that analyzes the sentiment (positive, negative, or neutral) of comments on YouTube videos. YouTube sentiment analysis can be applied in various contexts, including brand monitoring, market research,
            content creation, and customer feedback analysis. By analyzing the sentiments expressed by YouTube users,
            content creators and marketers can optimize their strategies, engage with their audience, and improve the
            overall user experience.
        </p>
        <a href="/avisualize/" class="btn">Visualization</a>

    </div>
    <div class="p2">
        <a href="{% url 'sanalysis' %}"><img
                src="{% static 'images/4059220_1592205269_Untitled-2.jpg' %}" alt="logo"
                width="98%"></a>
    </div>
</div>
<div class="analyzer">
    <div class="form">
       <h2>Sentiment Analyzer</h2>
    <br>
  <form method="post">
    {% csrf_token %}
    <div class="form-row align-items-center">
{#        <div class="col-auto">#}
            {{ form.input_text }}
            {% if form.input_text.errors %}
                <span class="error">{{ form.input_text.errors }}</span>
            {% endif %}
{#        </div>#}
{#    <br>#}
{#        <div class="col-auto">#}
            <button type="submit" class="btn">Analyze</button>

    </div>
</form>

{% if predicted_sentiments %}
    <div>
        <h3 style="color: black">Predicted Label: {{ predicted_sentiments }}</h3>
    </div>
{% endif %}

</div>
</div>
    </div>

{#<div>#}
{#    <button type="submit" class="btnn">Result</button>#}
{##}
{#</div>#}

 {% endblock %}

{% block page-scripts %}{% endblock %}