{% extends 'master.html' %}

{% load static %}

{% block page-title %}Spam Detection{% endblock %}

{% block page-styles %}{% endblock %}

{% block page-content %}
<div class="m2">
    <div class="p1">
        <h1 style="font-size: 40px; padding: 25px; align-items: center;"><b>Spam Detection</b></h1>
        <p style="font-size: 130%; text-align: justify; padding: 25px;">
            YouTube spam detection is an algorithm that automatically identifies and filters out spam comments on YouTube videos, ensuring a cleaner and more relevant comment section for users. It uses various techniques like content analysis, pattern recognition, and machine learning to accurately identify and flag spam comments. Spam detection in YouTube involves identifying and filtering out irrelevant, misleading, or malicious content that violates YouTube's policies and guidelines.
        </p>
        <a href="/svisualize/" class="btn">Visualization</a>
    </div>
    <div class="p2">
        <a href="{% url 'sdetection' %}"><img src="{% static 'images/spam-messages-detection.png' %}" alt="logo" width="98%"></a>
    </div>
</div>

<div class="analyzer">
    <div class="form">
        <h2>Spam Detector</h2>
        <br>
        <form method="post">
    {% csrf_token %}
    <div class="form-row align-items-center">
{#        <div class="col-auto">#}
{#            <input type="text" name="input_text" id="id_input_text" placeholder="Enter Text here">#}
            {{ spam_form.input_text }}
            {% if spam_form.input_text.errors %}
                <span class="error">{{ spam_form.input_text.errors }}</span>
            {% endif %}
{#        </div>#}
{#        <div class="col-auto">#}
            <button type="submit" class="btn">Detect</button>
        </div>
</form>
{% if predicted_labels %}
            <div>
                <h3 style="color: black">Predicted Label: {{ predicted_labels }} </h3>
            </div>
{% endif %}
{#</div>#}
    </div>
</div>


{% endblock %}

{% block page-scripts %}{% endblock %}
